* {
	font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background-color: #262626;
}

#container {
	position : absolute;
	top : 50%;
	width: 86%;
	margin-left :7%;
	margin-right:7%;
	margin-top : -150px;
	margin-bottom : auto;
}

#header {
	text-align: center;
	color: white;
}

div .interval {
	width : 1px;
	position : absolute;
	background-color : black;
	margin-top:-2px;
	top:0;
}